body {
    color: white;
    background-size: 1600px;
    background-position: middle middle;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, Sans-serif;
    background-repeat: none;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.homepage {
    background-image: url("https://wallpapercave.com/wp/wp6643368.jpg");
}

img {
    border: 10px solid rgb(30, 2, 75);
}

td {
    padding: 5px;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

input,
select,
textarea {

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

nav li a:hover {
    background: white;
    color: black;
}

nav ul {
    list-style: none;
}

nav li a,
nav li b {
    font-size: 16px;
    text-decoration: none;
    color: white;
    width: 150px;
    display: block;
    text-align: center;
    padding: 5px 10px;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

#credits {
    position: fixed;
    top: 50px;
    right: 0;
    width: 500px;
    text-align: center;
}

.gallery {
    text-align: center;
}